<form action="/items" method="post">
  <label for="sweight">Input weight:</label>
  <input id="sweight" name="sweight" type="text">

  <label for="slength">Input length:</label>
  <input id="slength" name="slength" type="text">

  <label for="sheight">Input height:</label>
  <input id="sheight" name="sheight" type="text">

  <label for="swidth">Input width:</label>
  <input id="swidth" name="swidth" type="text">
  
  <button type="submit">Submit</button>
</form>